@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace, "Poppins", "Roboto", "sans-serif";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/********************************************************************************************************************************************************/

/* APP */

.homepage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  overflow-x: hidden;
}

.gamepage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

/********************************************************************************************************************************************************/

/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  height: 15vh;
  justify-content: space-between;
}

.logo {
  margin-left: 30px;
  margin-right: 40px;
  width: 20%;
}

/* .menu {
  flex-grow: 1;
  padding-left: 20px;
  margin-top: 13px;
}

@media (min-width: 1900px) {
  .menu {
    padding-left: 110px;
  }
}

.menu a {
  font-size: 26px;
  margin-right: 40px;
  margin-left: 45px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} */

.specifications {
  margin-right: 20px;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-align: right;
  width: 28%;
}

.specifications p {
  text-align: right;
  font-size: 25px;
}

.specifications h1 {
  font-weight: 800;
  color: #0088fb;
  /* text-shadow: 1px 2px 1px rgba(255, 255, 255, 0.641); */
}

/********************************************************************************************************************************************************/

/* HERO */

.hero {
  color: white;
  display: flex;
  align-items: flex-end;
  height: 85vh;
  /* overflow: hidden; */
}

.game-on {
  font-size: 40px;
  text-align: center;
  margin: 50px 70px;
  cursor: pointer;
  animation: blinkingAnimation 1s linear infinite;
}

@keyframes blinkingAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.my-profile {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ring {
  position: absolute;
  /* margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; */
  margin-bottom: 30%;
  margin-left: 2%;
  border-radius: 50%;
  /* box-shadow: 0px 0 15px 5px rgba(255, 0, 0, 0.7); */
  box-shadow: 0 0 15px 5px #0088fb;
  transition: box-shadow 0.3s ease;
  width: 550px;
}

.ring:hover {
  box-shadow: 0 0 25px 15px #0088fb;
}

.profile-pic {
  position: relative;
  z-index: 1;
  width: 750px;
  height: 750px;
}

.socials {
  display: flex;
  margin-right: 50px;
  margin-bottom: 10px;
}

.linkedin-logo {
  width: 50px;
}

.github-logo {
  padding-top: 4px;
  width: 70px;
}

.instagram-logo {
  width: 66px;
  margin-top: -4px;
  margin-left: -4px;
}

.gmail-logo {
  width: 48px;
  margin-top: 4px;
}

.socials img:hover{
  filter: invert(40%) sepia(88%) saturate(2777%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.tooltip-container {
  position: relative;
}

.tooltip {
  position: absolute;
  bottom: 121%;
  left: 50%;
  transform: translateX(-50%) translateY(-15px);
  background-color: #333;
  color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  white-space: nowrap;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.tooltip-container:hover .tooltip {
  opacity: 1;
  transform: translateX(-50%) translateY(5px);
}



/********************************************************************************************************************************************************/

/* MAIN */

.carousel-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.carousel-container::before,
.carousel-container::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: 90px;
  pointer-events: none;
}

.carousel-container::before {
  left: 0;
  background: linear-gradient(to right, black, transparent);
  z-index: 1;
}

.carousel-container::after {
  right: 0;
  background: linear-gradient(to left, black, transparent);
  z-index: 1;
}

.mario {
  position: absolute;
  top: 74%;
  left: 45%;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
  width: 190px;
}

@media (min-width: 1900px) {
  .mario {
    left: 45.8%;
  }
}

.mario.jumping {
  animation: jump 0.5s ease forwards;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-125px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (min-width: 1900px) {
  @keyframes jump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-135px);
    }
    100% {
      transform: translateY(0);
    }
  }
}

.slider {
  height: 100vh;
}

.bg-1 {
  background-image: url(../public/images/bg/bg1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
  padding-top: 70px;
}

.ground {
  background-image: url(../public/images/bg/ground.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 10vh;
  width: 100%;
}

.footer {
  color: #cdd0d4;
  position: absolute;
  top: 95%;
  left: 34%;
  z-index: 1;
  font-size: 20px;
}

.media {
  color: #cdd0d4;
  position: absolute;
  top: 94%;
  right: 1%;
  z-index: 1;
  width: 200px;
  filter: invert(1%) sepia(0%) saturate(2489%) hue-rotate(271deg)
    brightness(100%) contrast(15%);
}

/********************************************************************************************************************************************************/

/* PAGE1 */

.right-arrow {
  max-width: 40px;
  position: absolute;
  bottom: 29%;
  right: 48%;
  animation: blinkingAnimation 1s linear infinite;
}

.page1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.page1 h1 {
  margin-top: -40px;
  font-size: 45px;
  font-weight: 700;
  padding: 10px 70px;
}
.page1 p {
  font-size: 30px;
  padding: 16px 200px 0;
  color: #ffffffcc;
}

/********************************************************************************************************************************************************/

/* PAGE2 */

.right-arrow2 {
  max-width: 40px;
  position: absolute;
  bottom: 5%;
  right: 7%;
  animation: blinkingAnimation 1s linear infinite;
}

.left-arrow2 {
  transform: scaleX(-1);
  max-width: 40px;
  position: absolute;
  bottom: 5%;
  left: 7%;
  animation: blinkingAnimation 1s linear infinite;
}

.space-bar {
  max-width: 150px;
  position: absolute;
  bottom: 17%;
  right: 45%;
  animation: blinkingAnimation 1s linear infinite;
}

@media (min-width: 1900px) {
  .space-bar {
    bottom: 18%;
    max-width: 170px;
  }
}

.box {
  position: absolute;
  bottom: 22%;
  right: 0%;
  padding: 50px;
}

.hit-box {
  max-width: 60px;
  position: absolute;
  bottom: 27%;
  right: 48%;
  transition: transform 0.2s ease;
}

@media (min-width: 1900px) {
  .hit-box {
    bottom: 28%;
  }
}

.animate-hit-box {
  animation: hitBoxMove 0.4s ease-in-out;
}

@keyframes hitBoxMove {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-35px);
  }
  100% {
    transform: translateY(0);
  }
}

.education-container,
.skill-container {
  position: relative;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  padding: 50px;
  margin-top: 45px;
}

/* Adjustments for laptop
@media (min-width: 1560px) {
  .education-container,
  .skill-container {
    padding: 5vh 70px;
    margin-top: 48px;
  }
} */

/* Adjustments for large dektop*/
@media (min-width: 1900px) {
  .education-container,
  .skill-container {
    padding: 5vh 70px;
    margin-top: 0px;
  }
}

.education-container h2,
.skill-container h2 {
  font-weight: 700;
}

.floating-laptop1 {
  max-width: 120px;
  position: absolute;
  top: 19%;
  right: 5%;
}

.floating-laptop2 {
  max-width: 140px;
  position: absolute;
  top: 18%;
  left: 5%;
}

.skills {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.frontend,
.backend,
.tools {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 15px 0px 0px 100px;
  text-align: left;
}

.backend {
  padding-left: 200px;
}

.tools {
  padding-left: 200px;
}

.frontend h1,
.backend h1,
.tools h1 {
  color: #0088fb;
  font-size: 40px;
  font-weight: 600;
}

.skills ul {
  margin-top: 10px;
  font-size: 30px;
  margin-left: 5px;
  list-style-type: disc;
  padding-left: 20px;
}

.skills li {
  margin-bottom: 10px;
}

/********************************************************************************************************************************************************/

/* PROJECT */

.right-arrow3 {
  max-width: 40px;
  position: absolute;
  bottom: 15%;
  right: 7%;
  animation: blinkingAnimation 1s linear infinite;
}

.left-arrow3 {
  transform: scaleX(-1);
  max-width: 40px;
  position: absolute;
  bottom: 15%;
  left: 7%;
  animation: blinkingAnimation 1s linear infinite;
}

.project-container {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 25px; */
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 10px;
  margin-left: 50px;
  margin-right: 40px;
  margin-top: 20px;
  max-width: 1600px;
}

.project-preview {
  border: none;
  background-color: #2c2c34;
  border-radius: 25px;
  width: 100%;
  margin-top: 5px;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.project-container:hover .project-preview {
  filter: grayscale(0.6) blur(3px);
}

.project-container:hover .project-preview:hover {
  filter: none;
  transform: scale(1.1);
}

.github-link-wrapper {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  max-width: 55px;
  padding: 5px 0px;
  background-color: black;
}

.github-link-wrapper:hover {
  background-color: rgb(57, 54, 54);
}

.github-link {
  cursor: pointer;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  flex-grow: 1;
}

.project-title {
  font-size: 22px;
  font-weight: 600;
}

.project-about {
  font-size: 15px;
  color: #dfdfdf;
  margin: 1px;
}

.languages-used {
  display: flex;
  flex-wrap: wrap;
}

.languages-used p {
  border: solid 1px white;
  border-radius: 20px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0 10px;
  font-size: 15px;
  cursor: pointer;
}

/********************************************************************************************************************************************************/

/* CONTACT */

.contact h1,
.project h1,
.about h1 {
  font-size: 50px;
  font-weight: 700;
  color: #0188fb;
  text-decoration: underline;
  margin-bottom: 30px;
  margin-top: -25px;
}

.project h1 {
  margin-bottom: 0;
}

.contact-containter {
  background-color: #111111c8;
  margin: auto;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(1, 134, 251, 0.353);
  border: 1px solid #0188fb;
  max-width: 60%;
}

.contact-form h2 {
  font-size: 25px;
  text-align: left;
  margin-left: 5px;
  letter-spacing: 0.1px;
}

.input-field {
  margin-top: 25px;
  background-color: #121212;
  border: 1px solid #333;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  width: 100%;
  display: block;
}

.input-field::placeholder {
  color: #999;
}

.input-field:hover {
  box-shadow: 0 0 10px #0186fb;
}

.input-field:focus {
  outline: none;
  border-color: #0186fb;
  box-shadow: 0 0 10px #0186fb;
}

.input-field:-webkit-autofill {
  background-color: #121212 !important;
  color: white !important;
  box-shadow: 0 0 0px 1000px #121212 inset;
  -webkit-text-fill-color: white !important;
}

.input-field:-webkit-autofill:hover,
.input-field:-webkit-autofill:focus {
  background-color: #121212 !important;
  color: white !important;
  -webkit-text-fill-color: white !important;
  box-shadow: 0 0 0px 1000px #121212 inset !important;
}

.submit {
  width: 100%;
  padding: 15px;
  background-color: #0188fb;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 15px 0px 0px 0px;
}

.submit:hover {
  background-color: #0070cc;
}

/********************************************************************************************************************************************************/

/* ABOUT */

.about {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
}

.text-section {
  max-width: 70%;
  margin-left: 4%;
  padding-right: 85px;
}

/* .about h1 {
  font-size: 50px;
  font-weight: 700;
  color: #0188fb;
  text-decoration: underline;
  text-align: center;
} */

.about p {
  font-weight: 600;
  font-family: monospace;
  margin-top: 20px;
  text-align: left;
  font-size: 23px;
  margin-right: 100px;
}

.highlight {
  color: #0188fb;
}

.avatar-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding-right: 4%;
  margin-left: -75px;
}

.avatar {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
/********************************************************************************************************************************************************/